Node-red/flows.json
[
    {
        "id": "a0c82d7ed42abaf4",
        "type": "tab",
        "label": "Site->HTML",
        "disabled": false,
        "info": "Implementar página só com HTML.",
        "env": []
    },
    {
        "id": "5b4dfdb20a1c0a25",
        "type": "tab",
        "label": "Site->(HTML+CSS)",
        "disabled": false,
        "info": "Implementar um site só com HTML e CSS.",
        "env": []
    },
    {
        "id": "26cf8bb8ec6358ac",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a82b5c55135ffd1",
        "type": "http in",
        "z": "a0c82d7ed42abaf4",
        "name": "inicio",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "2b5bbba0434702ed"
            ]
        ]
    },
    {
        "id": "a6426bd7dc2e9f33",
        "type": "http response",
        "z": "a0c82d7ed42abaf4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "2b5bbba0434702ed",
        "type": "template",
        "z": "a0c82d7ed42abaf4",
        "name": "inicio",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n    <head>\n        <meta charset=\"UTF-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <link rel=\"shortcut icon\" href=\"https://i.pinimg.com/originals/e0/0d/91/e00d91c91d37e1b34bfa5f333f894d3d.png\">\n        <title>teste</title>\n    </head>\n    <body>\n        <p>O Eterno Retorno (Quando Nietzsche Chorou)</p>\n\n<p>Nietzsche: Nós devemos morrer... Mas na hora certa. A morte só não é aterrorizante quando a vida já se consumou. Já consumou a sua vida?</p>\n\n<p>Breuer: Eu já consegui muitas coisas.</p>\n\n<p>Nietzsche: Mas aproveitou a vida? Ou deixou-se levar por ela? Você está fora da sua vida... sofrendo. Por uma vida que nunca foi vivida.</p>\n\n<p>Breuer: Não posso mudar minha vida. Tenho minha família, meus pacientes e alunos. É tarde demais.</p>\n\n<p>Nietzsche: Não posso lhe dizer como viver de outra forma, viveria segundo o plano de outra pessoa, mas talvez eu possa lhe dar um presente Josef. Eu poderia lhe dar um pensamento.</p>\n\n<p>E se um demônio lhe dissesse que esta vida da forma como vive e viveu no passado você teria de vivê-la de novo. Porém inúmeras vezes mais e não haverá nada novo nela. Cada dor, cada alegria, cada coisa minúscula ou grandiosa retornaria para você mesmo. A mesma sucessão, a mesma sequência, várias e várias vezes como uma ampulheta do tempo. Imagine o infinito! Considere a possibilidade de que cada ato que você escolher Josef, você escolherá para sempre! Então toda vida não vivida permaneceria dentro de você! Não vivida... por toda a eternidade!</p>\n\n<p>Gosta desta ideia...? Ou detesta...? Escolha!</p>\n\n<p>Friedrich Nietzsche</p>\n    </body>\n</html>",
        "output": "str",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a6426bd7dc2e9f33"
            ]
        ]
    },
    {
        "id": "7eecdb95e4fe94ed",
        "type": "http in",
        "z": "5b4dfdb20a1c0a25",
        "name": "Menu",
        "url": "/menu",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5ce3e637c2117c3b"
            ]
        ]
    },
    {
        "id": "5ce3e637c2117c3b",
        "type": "http response",
        "z": "5b4dfdb20a1c0a25",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "ccc8cb87d249049a",
        "type": "inject",
        "z": "26cf8bb8ec6358ac",
        "name": "entrada de valor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "84fb0294b6b82647"
            ]
        ]
    },
    {
        "id": "f673ed29d58aa6b9",
        "type": "debug",
        "z": "26cf8bb8ec6358ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "84fb0294b6b82647",
        "type": "switch",
        "z": "26cf8bb8ec6358ac",
        "name": "valores",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "10",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "11",
                "vt": "num",
                "v2": "20",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "79efba81bb57b0f9"
            ],
            [
                "ab7e7c9540725d52"
            ],
            [
                "3205de5ca2e63c66"
            ],
            [
                "f19bdf839f5bda2c"
            ]
        ]
    },
    {
        "id": "79efba81bb57b0f9",
        "type": "change",
        "z": "26cf8bb8ec6358ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "A",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "f673ed29d58aa6b9"
            ]
        ]
    },
    {
        "id": "ab7e7c9540725d52",
        "type": "change",
        "z": "26cf8bb8ec6358ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "f673ed29d58aa6b9"
            ]
        ]
    },
    {
        "id": "3205de5ca2e63c66",
        "type": "change",
        "z": "26cf8bb8ec6358ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "C",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "f673ed29d58aa6b9"
            ]
        ]
    },
    {
        "id": "f19bdf839f5bda2c",
        "type": "change",
        "z": "26cf8bb8ec6358ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "D",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "f673ed29d58aa6b9"
            ]
        ]
    }
]